<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277132952205-42mhgrbr56ujmrul3thu2uj4vugsil5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277132952205-42mhgrbr56ujmrul3thu2uj4vugsil5l</string>
	<key>API_KEY</key>
	<string>AIzaSyDyS9h_Gi-r7yE6vNF4L92_SMXNz0dOEQU</string>
	<key>GCM_SENDER_ID</key>
	<string>277132952205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mp.landmarks</string>
	<key>PROJECT_ID</key>
	<string>landmarks-435a9</string>
	<key>STORAGE_BUCKET</key>
	<string>landmarks-435a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277132952205:ios:b9ebd87f5fd32cd7d358c4</string>
</dict>
</plist>